@{
    ViewData["Title"] = "Home Page";
    var usersRes = ViewBag.Users;
    bool esCache = ViewBag.EsCache;
}

<div class="text-center">
    <cache expires-after="@TimeSpan.FromSeconds(8)">
        Current Time Inside Cache Tag Helper: @DateTime.Now
    </cache>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Pagina : @usersRes.Page
        <br />
        Por Pagina: @usersRes.PerPage
        <br />
        Total: @usersRes.Total
        <br />
        <strong>Es obtenido desde cache: @(esCache?"si":"no")</strong>
    </p>
    <table>
        @foreach (var item in usersRes.Data)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><img src="@item.Avatar" /></td>
            </tr>
        }
    </table>
</div>
